.comment-form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.comment-form {
  display: flex;
  margin: 10px;
  width: 100%;
  min-width: 400px;
  max-width: 830px;
  background-color: #f2f2f2;
}

.comment-form input[type~="text"] {
  margin: 7px;
  border-radius: 0;
  display: flex;
  font-size: 15px;
  width: 100%;
  max-width: 800px;
}

.comment-errors {
  display: block;
}

.comment-errors:empty {
  display: none;
}

.comment-prof-gradient {
  min-width: 49px;
  min-height: 49px;
}
