.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-background {
  position: fixed;
  background-color: rgba(245, 245, 245, 0.7);
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  min-width: 800px;
  z-index: 20;
  margin: auto;
}

.session-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  background-color: white;
}

.session-form span {
  margin-bottom: 5px;
  color: red;
  text-align: center;
}

.cover-scroller {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 800px;
  max-width: 1240px;
  width: 100%;
  height: 700px;
  border-top: 4px solid #43c3d2;
  background-image: image_url("travolta_moonwalk.gif");
  background-size: cover;
}

.cover-scroller-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.landing-header {
  position: absolute;
  top: 310px;
  color: white;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}

.cover-scroller-content img {
  position: absolute;
  left: 25px;
  top: 12px;
}

.quit-modal {
  font-size: 40px;
  position: absolute;
  right: 19px;
  top: 7px;
  background: none;
  border: none;
  color: black;
}

.quit-modal:hover {
  cursor: pointer;
}

.cover-scroller-content .session-buttons {
  position: absolute;
  right: 25px;
  top: 12px;
}

.guest-login-button {
  align-self: center;
  margin-top: 10px;
  width: 100px;
  border: 1px solid #f2f2f2;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 100;
  padding: 8px;
}

.session-form .guest-login-button:hover {
  cursor: pointer;
  transition: 0.5s;
  color: black;
  border: 1px solid black;
}
