.modal-background {
  position: fixed;
  background-color: rgba(245, 245, 245, 0.7);
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  min-width: 800px;
  z-index: 20;
  margin: auto;
}

.session_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // margin: 50px auto;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  background-color: white;
}

.session_form span {
  margin: 10px;
  color: red;
  text-align: center;
}

.cover_scroller {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 800px;
  max-width: 1240px;
  width: 100%;
  height: 700px;
  border-top: 4px solid #43c3d2;
  background-image: image_url("travolta_moonwalk.gif");
  background-size: cover;
}

.cover_scroller_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.landing-header {
  position: absolute;
  top: 310px;
  color: white;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}

.cover_scroller_content img {
  position: absolute;
  left: 25px;
  top: 12px;
}

.quit_modal {
  font-size: 40px;
  position: absolute;
  right: 19px;
  top: 7px;
  background: none;
  border: none;
  color: black;
}

.quit_modal:hover {
  cursor: pointer;
}


.cover_scroller_content .session_buttons {
  position: absolute;
  right: 25px;
  top: 12px;
}
