.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  min-height: 46px;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.navbarContent {
  width: 100vw;
  max-width: 1240px;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navButton {
  padding: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  min-width: 100px;

  color: rgb(240, 240, 240);
}

.navbar img {
  height: 46px;
  min-width: 67px;
}

.navButton:hover {
  color: white;
  transition: 0.5s
}

.navbar input[type~="text"] {
  visibility: hidden;
  background-color: #333333;
  // background-color: #e5e5e5;
  transition: 0.5s;
  margin: 0 10px 0 10px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  min-width: 180px;
  height: 20px;
}

.navbar input:focus {
  caret-color: black;
  background-color: #e5e5e5;
  transition: 0.5s;
}

.session-navbar-button {
  min-width: fit-content;
}
