.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  min-height: 46px;
  width: 100%;
  min-width: 800px;
  overflow: hidden;
  z-index: 10;
}

.navbar-content {
  width: 100vw;
  max-width: 1240px;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-button {
  padding: 0;
  margin: 0 10px 0 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  width: fit-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(240, 240, 240);
}

.navbar-logo {
  height: 46px;
  min-width: 67px;
}

.navbar-buttons {
  min-width: fit-content;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-button:hover {
  color: white;
  transition: 0.5s
}

.navbar input[type~="text"] {
  // visibility: hidden;
  background-color: #333333;
  transition: 0.5s;
  margin: 0 10px 0 10px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  min-width: 180px;
  height: 20px;
}

.navbar input:focus {
  caret-color: black;
  background-color: #e5e5e5;
  transition: 0.5s;
}

.session-navbar-button {
  min-width: fit-content;
}

.navbar-prof-photo-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.navbar-prof-photo {
  height: 26px;
}

.profile-menu-button {
  display: flex;
  justify-content: space-around;
}

.prof-button {
  margin: 5px;
}

.profile-menu-button:hover {
  cursor: pointer;
}
