.audio-footer-wrapper {
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #f2f2f2;
}

.audio-footer-content {
  display: flex;
  align-items: center;
  max-width: 1240px;
  min-width: 400px;
  width: 100%
}

.audio-footer-wrapper h1 {
  margin: 0;
}

.audioEl {
  display: none;
}

#playbarPrev, #playbarPlayButton, #playbarNext {
  margin: 0px 10px 0 10px;
  width: 15px;
  cursor: pointer;
}

.volume-controls {
  position: relative;
  justify-content: flex-end;
}

.volume-button {
  display: flex;
  padding: 0;
  margin: 5px;
  min-width: 40px;
  font-size: 23px;
  background: none;
  color: black;
}

.volume-button i {
  margin-left: 10px;
}


.volume-slider {
  -webkit-appearance: none;
  height: 2px;
  background: #43c3d2;
  transform: rotate(-90deg);
}

.volume-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: black
}

.slider-bg {
  display: none;
  position: absolute;
  width: 30px;
  height: 150px;
  border: 1px solid lightgray;
  background: #f2f2f2;
  left: 43%;
  transform: translateX(-50%);
  top: 0;
  margin-top: -153px;
}

.volume-controls:hover .slider-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-string-1, .time-string-2 {
  font-size: 13px;
  margin: 10px;
}

.time-string-1 {
  color: #43c3d2;
}

.time-string-2 {
  transition: 3s;
  min-width: 20px;
}

.progress-bar {
  height: 20px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.progress-bar:hover {
  cursor: pointer;
}

.progress-ball {
  opacity: 0;
  // display: none;
  position: absolute;
  background-color: #43c3d2;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: 0.25s;
}

.progress-bar:hover .progress-ball {
  // display: block;
  opacity: 1;
  transition: 0.25s;
}

.bg-progress-bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: lightgray;
}

.color-progress-bar {
  position: absolute;
  height: 2px;
  background-color: #43c3d2;
  transition: width 0.25s;
}

.playback-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.track-info img {
  width: 35px;
  height: 35px;
  margin: 3px;
}

.track-info {
  display: flex;
  align-items: center;
  width: 300px;
}

.artist-and-title {
  margin: 1px 3px 1px 3px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.artist-and-title span {
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 2px;
  color: gray;
}

.artist-and-title span:hover {
  margin: 2px;
  color: black;
  cursor: pointer;
}
