.profile-page {
  width: 100%;
  min-height: fit-content;
  height: 100%;
  min-width: 800px;
  // margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page-sub-wrapper {
  display:  flex;
  justify-content: center;
  position: relative;
  max-width: 1240px;
  min-width: 800px;
  width: 100%;
  min-height: 260px;
  align-items: center;
}

.profile-photo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.profile-photo {
  height: 200px;
}

.basic-user-info {
  margin-left: 40px;
  width: 100%;
  height: fit-content;
  max-width: 1240px;
  min-width: 760px;
  display: flex;
  flex-direction: row;
}

.basic-user-info h3 {
  font-size: 20px;
  margin-left: 20px;
}

.gradient-cover {
  overflow: hidden;
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cover-photo {
  width: 1240px;
}

.index-and-sidebar {
  background: #fff;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  height: calc(100% - 260px);
  max-width: 1240px;
  min-height: fit-content;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  min-width: 200px;
  max-width: 360px;
  padding-bottom: 50px;
  height: 100%;
}

.sidebar .bio {
  margin: 0 20px 20px 20px;
  font-weight: 100;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.label-select-with-buttons {
  height: 47px;
  margin: 0 20px 20px 20px;
  justify-content: space-between;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
}

.index-label, .index-label-selected {
  margin: 19px 20px 0 0;
  align-self: baseline;
  font-weight: 400;
}

.index-label:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.index-label {
  border-bottom: 1px solid #f2f2f2;
}

.index-label-selected {
  border-bottom: 1px solid #43c3d2;
}

.show-pages-button-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
}

.show-pages-button-wrapper .edit-button {
  margin: 5px;
  color: black;
  border: 1px solid #f2f2f2;
}

.show-pages-button-wrapper .edit-button:hover {
  margin: 5px;
  color: black;
  border: 1px solid #c8c8c8;
}

.cover-photo-input-button {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 3px 8px 3px 8px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 3px;
  transition: 1s;
}

.profile-photo-input-button {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 3px 8px 3px 8px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 3px;
  transition: 1s;
}

.profile-photo-input {
  display: none;
}

.cover-photo-input {
  display: none;
}

button.followed-button {
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  background: none;
  border: 1px solid #c8c8c8;
  color: #43c3d2;
}

button.followed-button:hover {
  transition: 0.5s;
  border: 1px solid #43c3d2;
}

button.unfollowed-button {
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  background: #43c3d2;
  color: white;
}

.follow-block-counts {
  font-weight: 100;
}

.follow-block-counts i {
  margin: 5px;
}
