.sidebar-user-index {
  padding: 0;
}

.sidebar-profile-gradient {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-profile {
  height: 50px;
}

.sidebar-profile-gradient {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
