.track-index {
  background: white;
  // padding-top: 40px;
  width: 100%;
  height: 100%;
  max-width: 1240px;
  min-width: 800px;
  padding-bottom: 50px;
}

.track-index h1 {
  padding: 40px 0 20px 0;
  margin: 0;
  font-weight: 100;
  font-size: 30px;
}

.grid-list {
  margin-top: 25px;
  padding: inherit;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  width: fit-content;
  // height: 100%;
  justify-content: center;
}

.stream-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
}

.track-index-item {
  height: 238px;
  width: 204px;
  margin: 0 20px 20px 20px;
  position: relative;
}

.art-thumbnail {
  position: relative;
}

.index-artwork {
  width: 200px;
  height: 200px;
  border: 1px solid #e5e5e5;
}

.artwork-mouseover {
  width: 202px;
  height: 202px;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.index-artwork:hover ~ .hover-play-button {
  visibility: visible;
}

.hover-play-button.play-button {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.track-index h4:hover {
  cursor: pointer;
}

.track-index h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // width: 200px;
}

.track-index h4:first-of-type {
  font-weight: 100;
  font-size: 17px;
}

.track-index h4:last-of-type {
  font-weight: 100;
  font-size: 14px;
  color: #999;
}

.index-art-gradient {
  width: 202px;
  height: 202px;
}

.play-button.stream-play-button {
  margin-left: 15px;
  width: 36px;
  height: 36px;
}

.stream-play-button {
  background-color: #43c3d2;
  cursor: pointer;
  color: white;
  margin: 0 4px 0 4px;
  border: none;
}

.stream-play-button img {
  width: 20px;
  height: 20px;
}

.stream-track-index-item {
  // display: flex;
  // justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.stream-track-item-info {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stream-track-index-item * {
}

.stream-track-index-item .index-art-gradient{
  width: 160px;
  height: 160px;
}

.stream-track-artwork {
  border: 1px solid #e3e5db;
  width: 160px;
  height: 160px;
}

.flex-column {
  display: flex;
  // width: 100%;
}
