.showPage {
  display: flex;
  flex-direction: column;
}

.gradientWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  min-width: 800px;
  margin: 0 auto;
  // height: 380px;
}

.canvas {
  width: 100%;
  height: 380px;
}
