.track-show-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 800px;
  height: 100%;
}

.gradient-wrapper {
  width: 100%;
  max-width: 1240px;
  min-width: 800px;
}

.playback-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 380px;
  min-height: 380px;
  max-width: 1240px;
  min-width: 800px;
  margin: 0 auto;
}

.playback-contents {
  margin-top: 30px;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.throw-left-right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.album-art {
  width: 340px;
  height: 340px;
}

.album-art-gradient{
  margin-top: -10px;
  margin-right: 20px;
  width: 340px;
  height: 340px;
}

.name-and-title {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.name-and-title h2, h3 {
  word-break: break-word;
  width: fit-content;
  margin: 1.5px;
  padding: 3px;
  background-color: black;
  color: #fff;
  font-weight: 100;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  background-color: #43c3d2;
  margin: 0 4px 0 4px;
  // min-width: 60px;
  // min-height: 60px;
  padding: 0;
}

.play-button img {
  filter: invert(1);
  margin-top: 0.5px;
}

.fa-play {
  margin-left: 7px;
}

.track-age {
  line-height: 1;
  margin-right: 10px;
  // margin: 0 25px 0 25px;
  color: #fff;
  background-color: none;
  font-weight: 100;
  font-size: 18px;
}

.comments-wrapper {
  width: 100%;
  min-height: fit-content;
  height: 100%;
  // min-height: calc(100vh - 380px);
  max-width: 1240px;
  min-width: 800px;
  background-color: #ffffff;
}


.track-description {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #f2f2f2;
  color: black;
  font-size: 20px;
}

.track-description p {
  color: black;
  font-size: 17px;
  max-width: 755px;
  white-space: pre-wrap;
}

.comments-wrapper ul {
  width: 100%;
  max-width: 800px;
  padding: 0;
  margin-bottom: 50px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  // height: 100%;
  max-width: 1240px;
  min-width: 790px;
}

.comments h3 {
  padding: 0;
  width: 100%;
  max-width: 800px;
  border-bottom: 1px solid #f2f2f2;
  background: none;
  color: #999;
  font-size: 16px;
}

.fa-comment {
  margin: 0 10px 0 0;
}

.comment {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment p {
  color: black;
  font-size: 14px;
}

.comment-meat {
  display: flex;
  flex-direction: column;
}

.comment-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.comment-age {
  color: #999;
  font-size: 12px;
  font-weight: 100;
}

.comment-meat p {
  color: black;
}

.comments-wrapper .trans-button {
  margin: 5px;
  color: black;
  border: 1px solid #f2f2f2;
}

.comments-wrapper .trans-button:hover {
  margin: 5px;
  color: black;
  border: 1px solid #e5e5e5;
  box-shadow: none;
}

.comment-delete {
  color: #e5e5e5;
  background: none;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 20px;
  width: fit-content;
}

.comment-delete:hover {
  color: black;
}
