.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  // height: 100%;
  width: 100%;
  background-color: #ffffff;
  max-width: 1240px;
  min-width: 800px;
  margin: 0;
}

.form-header {
  margin-top: 80px;
  margin-bottom: 20px;
}

.upload-form {
  border: 1px solid lightgray;
  padding: 50px;
  width: auto;
  max-width: 1000px;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.upload-form img {
  width: 260px;
  height: 260px;
  margin-right: 20px;
  margin-top: 0;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields p {
  margin: 5px;
  color: gray;
  font-size: 14px;
}

.form-fields textarea {
  border-radius: 5px;
  min-width: 470px;
  max-width: 470px;
  min-height: 20px;
  width: 470px;
  height: 130px;
  border-color: lightgray;
  font-size: 14px;
  padding: 5px;
}

.form-fields input[type="text"] {
  font-size: 16px;
  padding: 5px;
  width: 470px;
  margin: 0;
  border-color: lightgray;
}

.form-fields textarea:focus {
  border-color: gray;
}

.form-fields input:focus {
  border-color: gray;
}

.form-fields label {
  font-family: sans-serif;
  margin: 5px;
}

.track-file-input {
  visibility: hidden;
  position: absolute;
  width: auto;
  left: 50%;
  top: -100px;
  margin-left: -92px;
}

.artwork-file-input {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 3px 8px 3px 8px;
  visibility: hidden;
  position: absolute;
  left: 113px;
  top: 250px;
  border-radius: 3px;
  transition: 1s;
}

.artwork-file-input:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 1s;
  background-color: rgb(240, 240, 240);
}

.form-fields button {
  width: 60px;
}

.cancel {
  text-decoration: none;
  background: none;
  color: black;
  width: auto;
}

.form-buttons {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.url-field {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.url-field input[type="text"] {
  width: 100%;
  font-size: 14px;
}

.track-form-submit-button {
  position: relative;
}

.track-form-submit-button:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.tool-tip-text {
  text-align: center;
  left: 0;
  bottom: -15px;
  width: 200px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  color: red;
}

.track-form-submit-button:disabled:hover .tool-tip-text {
  visibility: visible;
}

.ref-button {
  cursor: pointer;
  text-align: center;
  visibility: visible;
}

.center-main {
  display: flex;
  justify-content: center;
  // height: 100%;
}

.file-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
}
