.form_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  max-width: 1240px;
  min-width: 800px;
  margin: 0;
}

.form_header {
  margin-top: 80px;
  margin-bottom: 20px;
}

.upload_form {
  border: 1px solid lightgray;
  padding: 50px;
  width: auto;
  max-width: 1000px;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.upload_form img {
  width: 260px;
  height: 260px;
  margin-right: 20px;
  margin-top: 0;
}

.form_fields {
  display: flex;
  flex-direction: column;
}

.form_fields p {
  margin: 5px;
  color: gray;
  font-size: 14px;
}

.form_fields textarea {
  border-radius: 5px;
  min-width: 470px;
  max-width: 470px;
  min-height: 20px;
  width: 470px;
  height: 130px;
  border-color: lightgray;
  font-size: 14px;
  padding: 5px;
}

.form_fields input[type="text"] {
  font-size: 16px;
  padding: 5px;
  width: 470px;
  margin: 0;
  border-color: lightgray;
}

.form_fields textarea:focus {
  border-color: gray;
}

.form_fields input:focus {
  border-color: gray;
}

.form_fields label {
  font-family: sans-serif;
  margin: 5px;
}

.track_file_input {
  visibility: hidden;
  position: absolute;
  width: auto;
  left: 50%;
  top: -100px;
  margin-left: -92px;
}

.artwork_file_input {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 3px 8px 3px 8px;
  visibility: hidden;
  position: absolute;
  left: 113px;
  top: 250px;
  border-radius: 3px;
  transition: 1s;
}

.artwork_file_input:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 1s;
  background-color: rgb(240, 240, 240);
}

// .form_fields input[type="file"] {
//   position: absolute;
//   left: 50%;
// }

.form_fields button {
  width: 60px;
}

.cancel {
  text-decoration: none;
  background: none;
  color: black;
  width: auto;
}

.form_buttons {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.url_field {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.url_field input[type="text"] {
  width: 100%;
  font-size: 14px;
}

.trackSubmitButton {
  position: relative;
}

.trackSubmitButton:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.tool_tip_text {
  text-align: center;
  left: 0;
  bottom: -15px;
  width: 200px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  color: red;
}

.trackSubmitButton:disabled:hover .tool_tip_text {
  visibility: visible;
}

.refButton {
  cursor: pointer;
  text-align: center;
  visibility: visible;
}

.centerMain {
  display: flex;
  justify-content: center;
  height: 100%;
}
